/* Responsivo da Header */
@media screen and (max-width: 900px) {
  header .menu-desktop,
  header .btn-contato {
    display: none;
  }
}

/* Responsivo da Hero */
@media screen and (max-width: 899px) {
  .hero-site .txt-hero h1 {
    font-size: 1em;
    line-height: 45px;
  }

  .hero-site .txt-hero p {
    font-size: 14px;
  }

  .hero-site .txt-hero p span {
    display: inline;
  }

  .hero-site button {
    font-size: 18px;
  }

  /* Responsivo das Vantagens */

  .vantagens .itens-container {
    flex-direction: column;
  }

  .vantagens .itens-container .img-itens img {
    width: 100%;
    border-radius: 15px;
  }

  .vantagens .itens-container .txt-itens p {
    margin-bottom: 20px;
  }

  .vantagens .itens-container .item-1 {
    order: 1;
  }

  .vantagens .itens-container .item-2 {
    order: 0;
  }

  /* Responsivo Contato */

  .txt-contato,
  .icons-contato {
    display: block;
    width: 100%;
  }

  .contato .txt-contato h3 {
    font-size: 2em;
    line-height: 40px;
  }

  .contato .icons-contato button {
    width: 100%;
  }

  .contato .icons-contato i {
    align-items: center;
  }

  .contato .txt-contato p {
    margin-bottom: 20px;
  }

  /* Responsivo Seção Serviços */

  .servicos h3 {
    font-size: 2.2em;
    line-height: 40px;
  }

  .servicos p {
    margin: 20px 0px;
    font-size: 16px;
  }

  /* Responsivo Como-Funciona */

  .txt-funciona,
  .instrucoes {
    display: block;
    width: 100%;
  }

  .como-funciona .txt-funciona {
    position: static;
  }

  .como-funciona .txt-funciona h3 {
    font-size: 3em;
    line-height: 50px;
  }

  .instrucoes .instru-box {
    flex-direction: column;
    text-align: center;
  }

  /* Responsivo do Footer */

  footer .middle-footer a {
    color: #fff;
    margin: 15px 0;
    display: block;
  }

  footer .bottom-footer p {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
  }
}
